[Unit]
Description=OPer - Error Monitor and Recovery tool
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/oper
Restart=always
RestartSec=10
User=root
Group=root
StandardOutput=journal
StandardError=journal
CPUQuota=10%
MemoryMax=50M

[Install]
WantedBy=multi-user.target